<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javahelps.navigationdrawer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icoon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.Loadingscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ConsultationActivity1"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.ConsultationActivity2" />
        <activity android:name=".activities.HealthkitActivity1" />
        <activity android:name=".TabHost.AboutusActivity1" />
        <activity android:name=".activities.HomeActivity1" />
        <activity android:name=".activities.HelpActivity1" />
        <activity android:name=".activities.ConsultationActivity3"></activity>
    </application>

</manifest>